/*
mobile-portrait: min:320px - max:479px;
mobile-landscape: min:480px - max:599px;
small-tablet-portrait: min:600px - max:799px;
small-tablet-landscape: min:800px - max:767px;
tablet-portrait: min:768px - max:1023px; 
*/
/*font-family: 'Allerta Stencil', sans-serif; titulos pstyle pokemon */
/*font-family: 'Source Sans Pro', sans-serif; italic, regular y bold */

body {
    background-image: url("./imagen/banner-sky2-02.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0; 
  }
.not-visible {
    display: none;
}
.visible {
    display: block;
}
aside{
    position: fixed;
    width: 150px;
    height: 100%;
    float: left;
    background-color: rgba(37, 40, 56, 0.6);   
    text-align: center;
    color: #ffff;
    font-family: 'Allerta Stencil';
    font-size: 1em;
    line-height: 0px;
}
button{
    border-color: transparent;
    background-color: transparent;
    margin: 0%;
    text-align: center;
    color: #ffff;
    font-family: 'Source Sans Pro';
    font-size: 0.8em;
    line-height: 0px;
}
.btn-aside {
    border-color: transparent;
    background-color: transparent;
    margin: 0%;
    text-align: center;
    color: #ffff;
    font-family: 'Allerta Stencil';
    font-size: 0.8em;
    line-height: 0px;  
    margin-left: 0%; 
    margin-top: 20%;
}
.image-btn-aside{
    width: 74px;
    height: 74px;
}
.image-btn-aside:hover{
    width: 80px;
    height: 80px;
}
.menu{
    margin-top: 120px;
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: rgba(37, 40, 56, 0.6);  
    text-align: center;
}
.tag{
    color: #ffff;
    font-size: 1em;
    text-align: center;
    height: 50px;
    font-family: 'Allerta Stencil';
}
.tag:hover{
    font-size: 1em;
    background-color: rgba(255,255,255,0.50);
    height: 50px;
}
.tag2{
    margin-top: 85%;
    color: #ffff;
    font-family: 'Allerta Stencil';
    font-size: 1.2em;
    font-family: 'Allerta Stencil';
}
button#openPage{
    float: left;
    height: 50px;
}
select{
    margin-left: 1%;
    width: 20%;
    height: 80%;
    background-color: transparent;    
    border:transparent;
    transition: all 0.25s ease;
}
option{
    background-color: rgba(133, 135, 143, 0.637);
}
input {
    width: 20%;
    height: 63%;    
    background-color: transparent;
    border: transparent;
    cursor: pointer; 
}
.container{
    position: fixed;
    margin-top: 13%;
    width: 99%; 
    height: 65%; 
    overflow-y: scroll;  
}
.container::-webkit-scrollbar {
    width: 8px;     /* Tamaño del scroll en vertical */
    height: 8px;    /* Tamaño del scroll en horizontal */
    display: none;  /* Ocultar scroll*/ 
}
#pokemon-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    font-family: 'Source Sans Pro';
    font-weight: 400;
    font-size: 0.7em;
    color: #ffff;
    width: 100%;
    font-family: 'Source Sans Pro';
    font-weight: 400;
    font-size: 0.7em;
}
.name-pokemon{
    text-align: center;
    line-height: 0px;
    width: 150px;   
    height: auto;
    margin: 1%;
    transition: width 1s, height 1s;     
}
.name-pokemon:hover{
    transform: scale(1.2,1.2);    
}
section.img-pokemon {
    background: rgba(243, 242, 242, 0.25);
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(37, 40, 56, 0.6);  
    text-align: center;
    color: #ffff;
    font-family: 'Source Sans Pro';
    font-style: italic;
    font-weight: 300;
    font-size: 0.7em;
}
#iconSearch{
    width: auto;
    height: 20px;
    margin-left: 1px;
}
::placeholder{
    color: #ffff;
}
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    border-radius: 15px;
    font-family: 'Source Sans Pro';
    font-weight: 400;
    font-size: 0.8em;
    color: black;
}
.div-about{
    width: 30%;
    height: auto;
    background-color: rgb(211, 206, 206);
    padding: 5px;
    border-radius: 15px;
}
#type-pokemon{
    text-decoration-color: rgba(37, 40, 56, 0.6);
}
.type {
    background-color: transparent;
}
/* boton cerrar modal */
.close{
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

/* Smartphone */
@media screen and (max-width: 736px) and (min-width: 320px) {
    body{
        background-image: url("./imagen/banner-sky2-01.png");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
    /* Ocultando main, aside y footer en la pantalla principal. */
    main, aside, footer{ 
        display: none;
    }
    /* Mostrando los botones de la pantalla principal */
   .welcome {
    display: block;
    }
    /* Ocultando botón de abrir y cerrar menu desplegable */
    #openPage, #closePage{
        display: none;
    }
    .image-btn{
        width: 74px;
        height: 74px;
    }
    .image-btn:hover{
        width: 80px;
        height: 80px;
    }
    /* tamaño boton */
    .btn-aside {
        font-size: 0.6em;
        width: 60px;
        height: 60px;
        margin-left: 10px;
        margin-top: 0%;
    }
    /* Tamaño de la imagen del botón */
    .image-btn-aside{
        width: 40px;
        height: 40px;
    }
    /* Sin hover en el telefono */
    .image-btn-aside:hover{
        width: 40px;
        height: 40px;
    }
    /* Boton volver al juego */
    .btn-welcome {
        margin-top: 5%;
        display: flex;
        justify-content: center;
    }
    .image-btn1{
        width: 40px;
        height: 40px;
    }
    #game{
        display: block;
        text-align: center;
        font-size: 0.6em;
        margin-top: 3px;
    }
    a{
        border: 0;
        color: #ffff;
        text-decoration: underline;
        font-size: 0.8em;
        text-align: center;
    }
    /* Botones selecciones Pprincipal */
    .btn-welcome1 {
        display: flex;
        justify-content: center;
    }
    .btn-welcome2 {
        display: flex;
        justify-content: space-between;
    }
     /* Llevar los botones de inicio abajo */ 
    .position-btn {
        position: absolute;
        width: 100%;
        bottom: 0; 
    }
    aside {
        position: absolute;
        bottom: 0; 
        width: 100%;
        height: 10%;
    }
    .menu{
        margin-top: 100px;
        display: inline-block;
        width: 100%;
        height: 40px;
        background-color: rgba(37, 40, 56, 0.6);
    }
    input {
        width: 40%;
        height: 80%;
    }
    .container{
        margin-top: 45%;
    }
    #iconSearch{
        height: 15px;
    }
    .modal-content {
        width: 80%;
        height: 65%;
        overflow-y: scroll; /* Enable scroll if needed */ 
    }
    .div-about{
        width: 200px;
        height: auto;
    }
}
/* Tablet */
@media screen and (max-width: 799px) and (min-width: 600px) {
    body{
    background-image: url("./imagen/banner-sky2-03.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    } 
    /* Ocultando main, aside y footer en la pantalla principal. */
    main, aside, footer{ 
        display: none;
    }
    /* Mostrando los botones de la pantalla principal */
   .welcome {
    display: block;
    }
    /* Ocultando botón de abrir y cerrar menu desplegable */
    #openPage, #closePage{
        display: none;
    }
    /* Botones selecciones */
    button{
        font-size: 1.1em;
        margin-left: 3%;
        margin-right: 3%;
    }
    .image-btn{
        width: 120px;
        height: 120px;
    }
    .btn-welcome {
        margin-top: 5%;
        display: flex;
        justify-content: center;      
    } 
    .btn-welcome1 {
        display: flex;
        justify-content: center;
    }
    .btn-welcome2 {
        display: flex;
        justify-content: space-between;
    }
    /* Llevar los botones de inicio abajo */ 
    .position-btn {
        position: absolute;
        width: 100%;
        bottom: 0; 
    }
    aside {
        position: absolute;
        bottom: 0; 
        width: 100%;
        height: 11%;
    }
    /* tamaño boton */
    .btn-aside {
        font-size: 1em;
        width: 100px;
        height: 100px;
        margin-left: 6%;
        margin-top: 0%;
    }
    /* Tamaño de la imagen del botón */
    .image-btn-aside{
        width: 80px;
        height: 80px;
    }
    /* Sin hover en la tablet */
    .image-btn-aside:hover{
        width: 80px;
        height: 80px;
    }
    .container{
        margin-top: 25%;
        width: 100%; 
        height: 68%; 
    }
    /* Boton volver al juego */
    .image-btn1{
        width: 80px;
        height: 80px;
    }
    #game{
        display: block;
        text-align: center;
        font-size: 1em;
    }
    a{
        border: 0;
        color: #ffff;
        text-decoration: underline;
        font-size: 1.5em;
        text-align: center;
    }
    /* Modal */
    .modal-content {
        width: 80%;
        height: 60%;
        overflow-y: scroll; /* Enable scroll if needed */ 
        font-size: 1em;
    }
}