/*
mobile-portrait: min:320px - max:479px;
mobile-landscape: min:480px - max:599px;
small-tablet-portrait: min:600px - max:799px;
small-tablet-landscape: min:800px - max:767px;
tablet-portrait: min:768px - max:1023px; 
*/
/*font-family: 'Allerta Stencil', sans-serif; titulos pstyle pokemon */
/*font-family: 'Source Sans Pro', sans-serif; italic, regular y bold */

body {
    background-image: url("./imagen/banner-sky2-02.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0; 
  }
.not-visible {
    display: none;
}
.visible {
    display: block;
}
/*.img-centro{
   display: block;
   margin: auto;
   width: 50%;
   height: auto;
}
.btn-top{
   display: flex;
   justify-content: center;   
}
*/
button{
    /* border-radius: 60%; */
    border-color: transparent;
    background-color: transparent;
    margin: 0%;
    text-align: center;
    color: #ffff;
    font-family: 'Allerta Stencil';
    font-size: 0.8em;
    line-height: 0px;
}
.btn-aside {
    /* border-radius: 60%; */
    border-color: transparent;
    background-color: transparent;
    margin: 0%;
    text-align: center;
    color: #ffff;
    font-family: 'Allerta Stencil';
    font-size: 0.8em;
    line-height: 0px;  
    margin-left: 0%; 
    margin-top: 20%;
}
.image-btn-aside{
    width: 74px;
    height: 74px;
}
.image-btn-aside:hover{
    width: 80px;
    height: 80px;
}
aside {
    position: fixed;
    margin-top: 8.5%;
    width: 150px;
    height: 78%;
    float: left;
    background-color: rgba(73,2,2,0.50);
    text-align: center;
    color: #ffff;
    font-family: 'Allerta Stencil';
    font-size: 1em;
    line-height: 0px;
}
.menu{
    margin-top: 120px;
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: rgba(73,2,2,0.50);    
    text-align: center;
}
.tag{
    color: #ffff;
    font-family: 'Allerta Stencil';
    font-size: 1em;
    text-align: center;
    height: 50px;
}
.tag:hover{
    color: rgb(73,2,2);
    font-family: 'Allerta Stencil';
    font-size: 1em;
    background-color: rgba(255,255,255,0.50);
    height: 50px;
}
.tag2{
    color: #ffff;
    font-family: 'Allerta Stencil';
    font-size: 1.2em;
}
button#openPage {
    float: left;
    height: 50px;
}
select{
    margin-left: 1%;
    width: 20%;
    height: 80%;
    background-color: transparent;    
    border:transparent;
}
input {
    width: 20%;
    height: 63%;    
    background-color: transparent;
    border: transparent; 

}
.container{
    position: fixed;
    margin-top: 13%;
    width: 99%; 
    height: 65%; 
    overflow-y: scroll;  
}
.container::-webkit-scrollbar {
    width: 8px;     /* Tamaño del scroll en vertical */
    height: 8px;    /* Tamaño del scroll en horizontal */
    display: none;  /* Ocultar scroll*/ 
}

#pokemon-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    font-family: 'Source Sans Pro';
    font-weight: 400;
    font-size: 0.7em;
    color: #ffff;
    width: 100%;
    font-family: 'Source Sans Pro';
    font-weight: 400;
    font-size: 0.7em;
}
.name-pokemon{
    text-align: center;
    line-height: 0px;
    width: 150px;   
    height: auto;
    margin: 1%; 
}
section.img-pokemon {
    background: rgba(243, 242, 242, 0.25); 
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(73,2,2,0.50);
    text-align: center;
    color: #ffff;
    font-family: 'Source Sans Pro';
    font-style: italic;
    font-weight: 300;
    font-size: 0.7em;
}
#iconSearch{
    width: auto;
    height: 20px;
    margin-left: 1px;
}
/* Smartphone */
@media screen and (max-width: 736px) and (min-width: 320px) {
    /* Ocultando main, aside y footer en la pantalla principal. */
    main{ 
        display: none;
    }
    aside{
       display: none;
   }
    footer{
       display: none;
   }
   .welcome {
    display: block;
    }
    /* Ocultando botón de abrir y cerrar menu desplegable */
    #openPage{
        display: none;
    }
    #closePage{
        display: none;
    }
    body{
        background-image: url("./imagen/banner-sky2-01.png");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
    .image-btn{
        width: 74px;
        height: 74px;
    }
    .image-btn:hover{
        width: 80px;
        height: 80px;
    }
    /* tamaño boton */
    .btn-aside {
        font-size: 0.6em;
        width: 60px;
        height: 60px;
        margin-left: 3%;
        margin-top: 0%;
    }
    /* Tamaño de la imagen del botón */
    .image-btn-aside{
        width: 40px;
        height: 40px;
    }
    /* Sin hover en el telefono */
    .image-btn-aside:hover{
        width: 40px;
        height: 40px;
    }
    /* Boton volver al juego */
    .image-btn1{
        width: 40px;
        height: 40px;
    }
    #game{
        display: block;
        text-align: center;
        font-size: 0.6em;
    }
    /* Boton volver al juego inicio y selecciones */
    .btn-welcome {
        margin-top: 5%;
        display: flex;
        justify-content: center;      
    } 
    .btn-welcome1 {
        display: flex;
        justify-content: center;
    }
    .btn-welcome2 {
        display: flex;
        justify-content: space-between;
    }
     /* Llevar los botones de inicio abajo */ 
    .position-btn {
        position: absolute;
        width: 100%;
        bottom: 0; 
    }
    aside {
        position: absolute;
        bottom: 0; 
        line-height: 0px;
        width: 100%;
        height: 10%;
    }
    .menu{
        margin-top: 100px;
        /*position: fixed;*/
        display: inline-block;
        width: 100%;
        height: 40px;
        background-color: rgba(73,2,2,0.50);    
        text-align: center;
    }
    .tag{
        color: #ffff;
        font-family: 'Allerta Stencil';
        font-size: 1em;
        text-align: center;
        height: 50px;
    }
    .tag:hover{
        color: rgb(73,2,2);
        font-family: 'Allerta Stencil';
        font-size: 1em;
        background-color: rgba(255,255,255,0.50);
        height: 40px;
    }
    .tag2{
        color: #ffff;
        font-family: 'Allerta Stencil';
        font-size: 1.2em;
    }
    button#openPage {
        float: left;
        height: 50px;
    }
    select{
        margin-left: 1%;
        width: 20%;
        height: 80%;
        background-color: transparent;    
        border:transparent;
    }
    input {
        width: 40%;
        height: 80%;
        background-color: transparent;
        border: transparent; 
    }
    .container{
        position: fixed;
        margin-top: 45%;
        width: 99%; 
        height: 60%; 
        overflow-y: scroll;  
    }
    #iconSearch{
        width: auto;
        height: 15px;
        margin-left: 1px;    
    }
}

/* Tablet */
@media screen and (max-width: 799px) and (min-width: 600px) {
    body{
    background-image: url("./imagen/banner-sky2-03.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    }
    /* Ocultando main, aside y footer en la pantalla principal. */
    main{ 
        display: none;
    }
    aside{
       display: none;
   }
    footer{
       display: none;
   }
   .welcome {
    display: block;
    }
    /* Ocultando botón de abrir y cerrar menu desplegable */
    #openPage{
        display: none;
    }
    #closePage{
        display: none;
    }
    .image-btn{
        width: 120px;
        height: 120px;
    }
    /* Boton volver al juego */
    .image-btn1{
        width: 80px;
        height: 80px;
    }
    #game{
        display: block;
        text-align: center;
        font-size: 1em;
        margin-left: 6%;
    }
    /* Boton volver al juego inicio y selecciones */
    button{
        /* border-radius: 60%; */
        font-size: 1.1em;
        margin-left: 3%;
        margin-right: 3%;
    }
    .btn-welcome {
        margin-top: 5%;
        display: flex;
        justify-content: center;      
    } 
    .btn-welcome1 {
        display: flex;
        justify-content: center;
    }
    .btn-welcome2 {
        display: flex;
        justify-content: space-between;
    }
    /* Llevar los botones de inicio abajo */ 
    .position-btn {
        position: absolute;
        width: 100%;
        bottom: 0; 
    }
    aside {
        position: absolute;
        bottom: 0; 
        line-height: 0px;
        width: 100%;
        height: 11%;
    }
    /* tamaño boton */
    .btn-aside {
        font-size: 1em;
        width: 100px;
        height: 100px;
        margin-left: 6%;
        margin-top: 0%;
    }
    /* Tamaño de la imagen del botón */
    .image-btn-aside{
        width: 80px;
        height: 80px;
    }
    /* Sin hover en el telefono */
    .image-btn-aside:hover{
        width: 80px;
        height: 80px;
    }
    .container{
        position: fixed;
        margin-top: 25%;
        width: 100%; 
        height: 68%; 
        overflow-y: scroll;  
    }
}