/*
mobile-portrait: min:320px - max:479px;
mobile-landscape: min:480px - max:599px;
small-tablet-portrait: min:600px - max:799px;
small-tablet-landscape: min:800px - max:767px;
tablet-portrait: min:768px - max:1023px; 
*/
/*font-family: 'Allerta Stencil', sans-serif; titulos pstyle pokemon*/
/*font-family: 'Source Sans Pro', sans-serif; italic, regular y bold*/

body {
    background-image: url("./imagen/banner-sky2-02.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; 
  }
.not-visible {
    display: none;
}
.visible {
    display: block;
    position: fixed;
}
body {
    margin: 0;
}
.banner{
    width: 100%;
    height: auto;
}
.banner-tittle{
    width: 300px;
    height: 110px;
}
.img-centro{
   display: block;
   margin: auto;
   width: 50%;
   height: auto;
}
.btn-top{
   display: flex;
   justify-content: center;   
}
button{
    border-radius: 60%;
    border-color: transparent;
    background-color: transparent;
    margin: 0%;
}
.btn{
    width: 84px;
    height: 84px;
}
.btn:hover{
    width: 55%;
    height: auto;
}
aside {
    margin-top: 10%;
    width: 150px;
    height: 600px;
    float: left;
    background-color: rgba(73,2,2,0.80);
    text-align: center;
    color: #ffff;
    font-family: 'Allerta Stencil';
    font-size: 1em;
    line-height: 0px;
}
.menu{
    margin-top: 140px;
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: rgba(73,2,2,0.50);    
    text-align: center;
}
.tag{
    color: #ffff;
    font-family: 'Allerta Stencil';
    font-size: 1em;
    text-align: center;
    height: 50px;
}
.tag:hover{
    color: rgb(73,2,2);
    font-family: 'Allerta Stencil';
    font-size: 1em;
    background-color: rgba(255,255,255,0.50);
    height: 50px;
}
.tag2{
    color: #ffff;
    font-family: 'Allerta Stencil';
    font-size: 1.2em;
}
button#openPage {
    float: left;
    height: 50px;
}
select{
    margin-left: 1%;
    width: 20%;
    height: 80%;
    background-color: transparent;    
    border:transparent;
}
input {
    width: 20%;
    height: 63%;
    background-color: transparent;
    border: transparent; 

}
.container{
    position: fixed;
    margin-top: 15%;
    width: 99%; 
    height: 70%; 
    overflow-y: scroll;  
}
.container::-webkit-scrollbar {
    width: 8px;     /* Tamaño del scroll en vertical */
    height: 8px;    /* Tamaño del scroll en horizontal */
    display: none;  /* Ocultar scroll*/ 
}

#pokemon-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    font-family: 'Source Sans Pro';
    font-weight: 400;
    font-size: 0.7em;
    color: #ffff;
    width: 100%;
    font-family: 'Source Sans Pro';
    font-weight: 400;
    font-size: 0.7em;
}
.name-pokemon{
    text-align: center;
    line-height: 0px;
    width: 150px;   
    height: auto;
    margin: 1%; 
}
section.img-pokemon {
    background: rgba(243, 242, 242, 0.25); 
}

/* Smartphone */
@media screen and (max-width: 479px) and (min-width: 320px) {
    .not-visible{
    display: block;
    background-image: url("./imagen/background-13.png");
    width: 100%;
    height: 700px;
    }
}
/* Tablet */
@media screen and (max-width: 799px) and (min-width: 600px) {
    .not-visible{
    display: block;
    background-image: url("./imagen/background-13.png");
    width: 100%;
    height: 1200px;
    }
}